.container-pass {
    /* background-image: linear-gradient(to bottom, rgb(95, 235, 165), rgb(5, 110, 57)); */
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    /* align-items: center;
    align-content: center;
    width: 60%; */
    margin-top: 5vh;
    display: flex;
    /* width: 60%; */
    height: 85vh;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

h2 {
    font-weight: bold;
    font-size: larger;
}

.Length {
    display: flex;
    /* background-color: aqua; */
    justify-content: space-between;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

.box {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: larger;
}

.pass-length {
    height: 30px;
    width: 30px;
    border: 2px solid rgb(44, 46, 45);
    margin: 14px;
    background-color: rgb(175, 175, 232);
    border-radius: 5px;
    /* display: block; */
    text-align: center;
    padding-right: 5px;
    cursor: pointer;
}

.pass-length:hover {
    background-color: rgb(216, 224, 219);
    transition: all 220ms ease-in-out;
}

.pass-length::after {
    background-color: blueviolet;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-right: 10px;
}

.lower {
    /* height: 10px; */
    padding-left: 100px;
    right: 0;
}

.display-pass {
    border-radius: 5px;
    border: 2px solid rgb(4, 4, 4);
    height: 35px;
    max-width: 90%;
    width: 40%;
    margin: 10px;
    padding: 6px;

}